* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.bars {
  display: block;
  background-color: rgb(158, 102, 121);
  overflow: auto;
}

.menu {
  list-style: none;
}

.menu li {
  font-size: 18px;
  line-height: 2.4em;
  float: left;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
}

.menu li a:hover {
  color: plum;
}
